*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #e14b5a;
  font-family: 'Montserrat', sans-serif;
  max-width: 2983px;
  max-height: 1007px;
}

/*----------------------BOOTSTRAP OPTION-----------------------------*/

.justify-content-center {
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

}

.img-fluid {
  max-height: 480px;
  max-width: 100%;
  margin-right: 2rem;
}

.text-uppercase{
  text-transform: uppercase;
}

.text-center{
  text-align: center;
}

.cont{
  margin: 51px;
max-width: 100%;
  background: white;
}


header{
  width: 100%;

}

nav{
  width: 100%;
}

ul{
  margin-left:30rem;
  position: absolute;
  padding:40px;
  margin-top: auto;
  margin-bottom: auto;
  list-style-type: none;
}

li{
  margin-left: 20px;
  display: inline-flex;
  padding: 5px;
}

a{
  font-weight: bold;
  color: black;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

nav img{

  float: left;
  margin-left: 6rem;
  padding: 30px;
}

nav button{
  float: left;
  background-color: black;
  color: white;
  font-weight: bold;
  width: 120px;
  height: 35px;
  border-radius: 15px;
  border:none;
  margin-left: 53%;
  position: absolute;
}

main{
  width: 100%;
}

.left-side{
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

input{
  width:170px;
  margin-left: 11rem;
  padding-left: 10px;
  height: 30px;
  border: solid 2px #c2c2c2;
  border-radius: 15px;
}

h1{
  margin-top: 40px;
  font-size: 40px;
  margin-left: 11rem;
}

p{

  margin-top: 2rem;
  margin-left: 11rem;
  color: #b8b8b8;
  font-size: 17px;
}

.input_age{
  margin: 0;
  width: 80px;
  height: 30px;
}

form{
  margin-top: 1rem;
}

.form-txt{
  max-width: 400px;
  color: #e14b5a;
  font-weight: bold;
}

form button{
  border: none;
  color: white;
  font-size: 11px;
  height: 32px;
  width: 120px;

  border-radius: 15px;
  background: #e14b5a;
}

.right-side{
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 100%;
}

@media (max-width:1700px) {
  h2{
    font-size: 70px;
  }
}

@media (max-width:1491px) {
  li{
    margin-left: 5px;
    display: inline-flex;
    padding: 5px;
  }
  nav button{
    float: left;
    background-color: black;
    color: white;
    font-weight: bold;
    height: 35px;
    border-radius: 15px;
    border:none;
    margin-left: 40%;
    position: absolute;
  }
  nav img{
    float: left;
    margin-left: 4rem;
    padding: 20px;
  }
}

@media (max-width:1391px) {
  li{
    margin-left: 5px;
    display: inline-flex;
    padding: 5px;
  }
  nav button{
    float: left;
    background-color: black;
    color: white;
    font-weight: bold;
    width: 120px;
    height: 35px;
    border-radius: 15px;
    border:none;
    margin-left: 40%;
    position: absolute;
  }
  ul{
    margin-left:25rem;
    position: absolute;
    padding:30px;
    margin-top: auto;
    margin-bottom: auto;
    list-style-type: none;
  }
  nav img{
    width: 130px;
    float: left;
    margin-left: 2rem;
    padding: 10px;
  }
}


@media (max-width:1391px) {
  input{
    width:170px;
    margin-left: 2rem;
    padding-left: 10px;
    height: 30px;
    border: solid 2px #c2c2c2;
    border-radius: 15px;
  }

  h1{
    margin-top: 40px;
    font-size: 40px;
    margin-left: 2rem;
  }

  p{
    margin-top: 2rem;
    margin-left: 2rem;
    color: #b8b8b8;
    font-size: 17px;
  }
  ul{
    margin-left:20rem;
    position: absolute;
    padding:30px;
    margin-top: auto;
    margin-bottom: auto;
    list-style-type: none;
  }
}

@media (max-width:1110px) {
  nav button{
    float: right;
    background-color: black;
    color: white;
    font-weight: bold;
    width: 100px;
    height: 35px;
    border-radius: 15px;
    border:none;
    margin-left: 10%;
    position: absolute;
  }
  .left-side{
    float: right;
    -ms-flex: 0 0 50%;
    flex: 0 0 50.1%;
    max-width: 100%;
  }
  .right-side{
    float: left;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 100%;
  }
}

@media (max-width:1110px) {
  .cont{
    margin: 41px;
    min-height: 1000px;
    background: white;
  }
}

@media (max-width: 1024px) {
  ul{
    margin-left:15rem;
  display: block;
    padding:30px;
    margin-top: auto;
    margin-bottom: auto;
    list-style-type: none;
  }
}

@media (max-width: 972px) {
  .left-side{
    float: right;
    -ms-flex: 0 0 50%;
    flex: 0 0 80.1%;
    max-width: 100%;
  }
  .right-side{
    float: left;
    -ms-flex: 0 0 50%;
    flex: 0 0 70%;
    max-width: 100%;
  }
  nav img{
    width: 130px;
    margin-left: 1rem;
    padding: 15px;
  }
  ul{
    margin-left:9rem;
  display: block;
    padding:30px;
    margin-top: auto;
    margin-bottom: auto;
    list-style-type: none;
  }
}

@media (max-width:768px) {
  .input_age{
    padding: 0;
    margin:0;
    width: 80px;
    height: 30px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  input{
    margin: 0;
    width: 200px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .left-side{
    margin-bottom: 3rem;
    -ms-flex: 0 0 100%;
    flex: 0 0 10.1%;
    max-width: 100%;
  }
  .right-side{
    float: left;
    -ms-flex: 0 0 100%;
    flex: 0 0 80%;
    max-width: 100%;
  }
  .right-side{
    float: left;
    -ms-flex: 0 0 100%;
    flex: 0 0 70%;
    max-width: 100%;
  }
  .left-side{
    float: right;
    -ms-flex: 0 0 100%;
    flex: 0 0 60.1%;
    max-width: 100%;
  }
  nav button{
    background-color: black;
    color: white;
    font-weight: bold;
    width: 100px;
    height: 35px;
    border-radius: 15px;
    border:none;
    margin-left: 1%;
  }
  ul{

    margin-left: -1%;
    padding:30px;
    margin-top: 13%;
    margin-bottom: auto;
    list-style-type: none;
  }
  li{
    margin-left: 5px;
    display: block;
    padding: 5px;
  }
  nav{
    width: 100%;
    height: 290px;
  }
}
